
<%= form_tag({controller: "search_pages", action: "search"}, method: "get", id: "search-cat")  do %>

	<div>
		<%= label_tag :price_range %>
		<%= select_tag :price_range, 
						options_for_select([['All', 0],
											['<5000', 1], 
											['5000-10000',	2],
											['10000-15000',	3],
											['15000-2000',	4],
											['20000-25000',	5],
											['25000-30000',	6],
											['30000+',		7]]),
						{ class: "form-control"}  %>


	</div>

	<div>
		<h4>Bedrooms</h4>		
			<%= label_tag :bedroom_all, nil, class: "checkbox-inline" do %>
				<%= check_box_tag(:bedroom_all) %>All
			<% end %>
		
		
			<%= label_tag :bedroom_1R, nil, class: "checkbox-inline" do %>
				<%= check_box_tag(:bedroom_1R) %>1R
			<% end %>
		

		
			<%= label_tag(:bedroom_1RK, nil, class: "checkbox-inline") do %>
				<%= check_box_tag(:bedroom_1RK) %>1RK
			<% end %>

		
			<%= label_tag(:bedroom_1BHK, nil, class: "checkbox-inline") do %>
				<%= check_box_tag(:bedroom_1BHK) %>1BHK
			<% end %>
			
			<%= label_tag(:bedroom_2BHK, nil, class: "checkbox-inline") do %>
				<%= check_box_tag(:bedroom_2BHK) %>2BHK
			<% end %>
			
			<%= label_tag(:bedroom_3BHK, nil, class: "checkbox-inline") do %>
				<%= check_box_tag(:bedroom_3BHK) %>3BHK
			<% end %>
			
			<%= label_tag(:bedroom_4BHK, nil, class: "checkbox-inline") do %>
				<%= check_box_tag(:bedroom_4BHK) %>4BHK
			<% end %>
			
			<%= label_tag(:bedroom_5BHK, nil, class: "checkbox-inline") do %>
				<%= check_box_tag(:bedroom_5BHK) %>5BHK+
			<% end %>
		
	</div>
	<div>
		<h4>Type</h4>
		<%= label_tag :type_all, nil, class: "checkbox-inline" do %>
			<%= check_box_tag(:type_all) %>All
		<% end %>
		<%= label_tag :type_rent, nil, class: "checkbox-inline" do %>
			<%= check_box_tag(:type_rent) %>All
		<% end %>
		<%= label_tag :type_lease, nil, class: "checkbox-inline" do %>
			<%= check_box_tag(:type_lease) %>All
		<% end %>
		<%= label_tag :type_sale, nil, class: "checkbox-inline" do %>
			<%= check_box_tag(:type_sale) %>All
		<% end %>
	</div>
	<div>
		<h4>Localities</h4>
		
	</div>



	<%= submit_tag("Search")%>

<% end %>
