
<%= form_tag({controller: "search_pages", action: "search"}, method: "get", id: "search-cat")  do |f| %>

	<div>
		<%= label_tag 'conditions[price_range]', 'Price Range' %>
		<%= select 'conditions', :price_range,
						options_for_select(SearchConstraint.PRICE_RANGE.to_a, @condition[:price_range]) %>

	</div>

	<div>
		<h3>Bedrooms</h3>
		<% PropertyConstraint.property_types.each do |key, value| %>
			<label class="checkbox-inline">
				<% begin %>
				<% check = @condition[:bedroom].include?(value.to_s) %>
				<% rescue %>
				<% check = false %>
				<% end %>
				<%= check_box_tag 'conditions[bedroom][]', value, check %><%= key %>
			</label>
		<% end %>
	</div>

	<div>
		<h3>Bedrooms</h3>
		<% PropertyLocationConstraint.area_types.each do |key, value| %>
			<label class="checkbox-inline">
				<% begin %>
				<% check = @condition[:area].include?(value.to_s) %>
				<% rescue %>
				<% check = false %>
				<% end %>
				<%= check_box_tag 'conditions[area][]', value, check %><%= key %>
			</label>


		<% end %>
		
	</div>

	



	<%= submit_tag("Search", class: "btn btn-default")%>

<% end %>
