<div class="property-information">
			<div class="general">
				<div class="property-feature">
					<div class="text-muted">Street Info</div>
					<div><%= @address.street_name%>, Near <%= @address.landmark%>, <%= @location.area %></div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Lease Type</div>
					<div>Family Only</div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Rent</div>
					<div><%=@property.rent%></div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Security Deposit</div>
					<div><%=@property.deposit%></div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Built-Up Area</div>
					<div><%=@property.build_area%> sq.ft.</div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Power Backup Type</div>
					<div>
					<%= PropertyConstraint.get_key_for_value @property.power_backup, PropertyConstraint.powerbackup_types%></div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Security Type</div>
					<div>Basic</div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Water Supply Type</div>
					<div>Kaveri Water</div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Added</div>
					<div><%= time_ago_in_words @property.created_at %> ago</div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Facing</div>
					<div>East</div>
				</div>
				<div class="property-feature">
					<div class="text-muted">Flat ID</div>
					<div><%= @property.id%></div>
				</div>
			</div>
			<div class="amenities">
				<div class="property-feature">
					<div><%=@integer_amenity.bathroom%></div>
					<div>Bathrooms</div>
				</div>
				<div class="property-feature">
					<div><%=@integer_amenity.ac%></div>
					<div>AC</div>
				</div>
				<div class="property-feature">
					<div><%=@integer_amenity.tv%></div>
					<div>TV</div>
				</div>
				<div class="property-feature">
					<div><%=@integer_amenity.cupboard%></div>
					<div>Cupboards</div>
				</div>
				<div class="property-feature">
					<div><%=@integer_amenity.bed%></div>
					<div>Bed</div>
				</div>
			</div>
			<div class="other-facility">
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.dining_table%>"></span>
					<div <%=text_muted @boolean_amenity.dining_table%>>Dining Table</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.fridge%>"></span>
					<div <%=text_muted @boolean_amenity.fridge%>>Fridge</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.sofa%>"></span>
					<div <%=text_muted @boolean_amenity.sofa%>>Sofa</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.gas_pipe%>"></span>
					<div <%=text_muted @boolean_amenity.gas_pipe%>>Gas Pipeline</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.stove%>"></span>
					<div <%=text_muted @boolean_amenity.stove%>>Stove</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.gym%>"></span>
					<div <%=text_muted @boolean_amenity.gym%>>Gym</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.swimming_pool%>"></span>
					<div <%=text_muted @boolean_amenity.swimming_pool%>>Swimming Pool</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.lift%>"></span>
					<div <%=text_muted @boolean_amenity.lift%>>Lift</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.washing_machine%>"></span>      
					<div <%=text_muted @boolean_amenity.washing_machine%>>Washing</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.microwave%>"></span>
					<div <%=text_muted @boolean_amenity.microwave%>>Microwave</div>
				</div>
				<div class="property-feature">
					<span class="<%=glyphicon @boolean_amenity.servent_room%>"></span>
					<div <%=text_muted @boolean_amenity.servent_room%>>Servant Room</div>
				</div>
				
			</div>
		</div>