<% provide(:title, 'Add New Property') %>
<h1>Add New Property</h1>
<div class="row">
	<div class="span3 offset4">
		<%= form_for(@property) do |f| %>
			<%= render 'shared/error_messages' %>
			<%= f.label	:type %>
			<%= select :property, :property_type, propertyConstraint.getPropertyTypes.to_a %>

			<%= f.label	:bathroom %>
			<%= f.text_field :bathroom %>

			<%= f.label	:rent %>
			<%= f.text_field :rent %>

			<%= f.label	:deposit %>
			<%= f.text_field :deposit %>

			<%= f.label	:furnishing %>
			<%= select( :property, :furnishing, propertyConstraint.getFurnishingTypes.to_a) %>

			<%= f.label	:lease_type %>
			<%= select(:property, :lease_type, propertyConstraint.getLeaseTypes.to_a) %>	

			<%= f.label	:build_area %>
			<%= f.text_field :build_area %>

			<%= f.label	:available_from %>
			<%= f.date_select :available_from %>
			
			<%= f.submit "Add Property", class: "btn btn-primary" %>
	</div>
</div>
<% end %>