<% provide(:title, 'Add New Property') %>
<h1>Add New Property</h1>
<div class="row">
	<div class="span3 offset4">
		<%= form_for(@property) do |f| %>
			<%= render 'shared/error_messages' %>
			<%= f.label	:type %>
			<%= select :property, :property_type, PropertyConstraint.property_types.to_a %>

			<%= f.label	:rent %>
			<%= f.text_field :rent %>

			<%= f.label	:deposit %>
			<%= f.text_field :deposit %>

			<%= f.label	:furnishing %>
			<%= select( :property, :furnishing, PropertyConstraint.furnishing_types.to_a) %>

			<%= f.label	:lease_type %>
			<%= select(:property, :lease_type, PropertyConstraint.lease_types.to_a) %>	

			<%= f.label	:build_area %>
			<%= f.text_field :build_area %>

			<%= f.label :power_backup %>
			<%= select :property, :power_backup, PropertyConstraint.powerbackup_types.to_a %>

			<%= f.label :Secuity %>
			<%= select :property, :security, PropertyConstraint.security_types.to_a %>

			<%= f.label :Occupant %>
			<%= select :property, :occupant, PropertyConstraint.occupant_types %>

			<%= f.label :Facing %>
			<%= select :property, :facing, PropertyConstraint.facing_types %>

			<%= f.label :water_supply %>
			<%= select :property, :water_supply, PropertyConstraint.water_supply_types %>

			<%= f.label	:available_from %>
			<%= f.date_select :available_from %>
			
			<%= f.submit "Add Property", class: "btn btn-primary" %>
	</div>
</div>
<% end %>