<% provide(:property_view, true) %>
<%= render 'layouts/flash_messages' %>
<div class="property">
		<%= render 'property_header' %>
		<%= render 'load_images' %>
		<%= render 'interest_number' %>
		<%= render 'property_properties' %>
		<%= render 'show_interest_form' %>
</div>