<% provide(:property_view, true) %>
<%= render '/static_pages/navigation_bar' %>
<div class="property">
		<%= render 'property_header' %>
		<%= render 'load_images' %>
		<%= render 'property_properties' %>
		<%= render 'show_interest_form' %>
</div>