<% provide :title, FacilityConstraint.PAGE_TITLE %>
<h1>Describe Facilities</h1>
<div class="row">
	<div class="span3 offset4">
		<%= form_for(@facility) do |f| %>
			<%= f.label FacilityConstraint.LABEL_PARKING %>
			<%= select :facility, :parking, FacilityConstraint.parking_types.to_a %>

			<%= f.label FacilityConstraint.LABEL_GYM %>
			<%= select :facility, :gym, FacilityConstraint.boolean_types.to_a %>

			<%= f.label FacilityConstraint.LABEL_SWIMMING_POOL %>
			<%= select :facility, :swimming_pool, FacilityConstraint.boolean_types.to_a %> 

			<%= f.label FacilityConstraint.LABEL_LIFT %>
			<%= select :facility, :lift, FacilityConstraint.boolean_types.to_a %>

			<%= f.label FacilityConstraint.LABEL_AC %>
			<%= f.text_field :ac %>

			<%= f.submit FacilityConstraint.LABEL_SUBMIT_BUTTON, class: "btn btn-primary" %>



		<% end %>
		
	</div>
</div>
