<%= provide(:title, AddressConstraint.PAGE_TITLE) %>
<% provide(:dashboard, true) %>
<h1><%= AddressConstraint.PAGE_HEADER %></h1>

<div class="row">
	<div class="span3 offset4">
		<%= form_for(@address) do |f| %>
			<%= render '/shared/error_messages' %>

			<div class="form-group">
				<%= f.label 		AddressConstraint.LABEL_STREET_NAME %>
				<%= f.text_field	AddressConstraint.LABEL_STREET_NAME, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label 		AddressConstraint.LABEL_LANDMARK %>
				<%=	f.text_field	AddressConstraint.LABEL_LANDMARK, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label 		AddressConstraint.LABEL_LOCATION_LATITUDE %>
				<%= f.text_field 	AddressConstraint.LABEL_LOCATION_LATITUDE, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label 		AddressConstraint.LABEL_LOCATION_LONGITUDE %>
				<%= f.text_field 	AddressConstraint.LABEL_LOCATION_LONGITUDE, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.submit 		AddressConstraint.SUBMIT_BUTTON, class: "btn btn-primary" %>
			</div>

		<% end %>
	</div>
</div>