<!DOCTYPE html>
<html>
<head>
  <title>RealEstate | <%= yield :title %></title>

  <%= stylesheet_link_tag    "application-all", media: "all", "data-turbolinks-track" => true %>

  <% if content_for? :dashboard %>

  	<%= stylesheet_link_tag "application-dashboard", media: "all", "data-turbolinks-track" => true %>

  <% elsif content_for? :property_view %>

  	<%= stylesheet_link_tag "application-property-view", media: "all", "data-turbolinks-track" => true %>

  <% elsif content_for? :static_page %>

    <%= stylesheet_link_tag "static-pages", media: "all", "data-turbolinks-track" => true %>

  <% end %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'dashboards/header' %>
	<div class="content">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		<%= debug params  %>
	</div>

</body>
</html>
